
[data-label="casesHighlight"] .salvatore {
    * {@include transition;}
    clear: both;
    
    &.hovering {
        @include transition;
        --transition-time: .5s;
        
        .card {
            filter: opacity(0.3);
        }
    }
    
    .column:not(:last-child) {
        @extend .mr-6;
    }
    
    .card {       
        &-body {
            position: relative;
            
            &-overlay {
                position: absolute;
                left: 0px;
                right: 0px;
                top: 0px;
                bottom: 0px;
                display: flex;
                width: 100%;
                flex-direction: column;
                justify-content: center;
                z-index: 2;
                
                p {
                    display: none;
                    font-size: 1.5rem;
                }
            }
        }
        
        &-title {
            max-width: 60%;
        }
        
        &:hover {
            filter: opacity(1);
            overflow-x: visible;
            
            .card-body-overlay {
                left: 100%;
                z-index: 4;
                
                p {display: block;}
            }
        }
    }
    
    .card:hover {
        .filter-purple-rain {
            &::before {
                background: $purple000;  
            }
            
            img {
                filter: grayscale(0);
            }
        }
    }
    
    .column:last-child .card:hover{
        .card-body-overlay {
            align-items: flex-end;
            left: -100%;
            
            h2, p {text-align: right;}
        }
    }
}

[data-label="hero"] {
    background-image: url('https://pgmgent-1920-students.github.io/case1-pgm-website-baas-pgm-lenndery/src/images/pgm_branding/logos/logo_pgm_klein_wit.svg');
    background-repeat: no-repeat;
    background-position: 100% 166px;
}