<footer class="box-lazy" data-lazy-animation="fadeInUp">
    <div class="container-fluid box-y">
        <div class="row mx-0">
            <div class="col-auto box-x py-3 d-flex align-items-center bg-color-purple">
                <div class="px-1">
                    {% include logo-small height:'40px' %}
                </div>
            </div>
            <div class="col-auto py-3 d-flex align-items-center">
                <span class="font-rhode px-4">
                    pgm.gent is een website van de opleiding<br>Programmeren van Arteveldehogeschool
                </span>
            </div>
           
        </div>
    </div>
    <div class="container-fluid">
        <div class="row py-3">
            <div class="col-auto py-2 mx-auto text-modern text-center small">
                <span class="font-weight-bold">
                    <a class="text-center btn-arrow-link" href="https://www.google.com/maps/place/Campus+Mariakerke+Arteveldehogeschool/@51.0869464,3.6676795,17.21z/data=!4m5!3m4!1s0x47c370362705fc21:0x47f9e1d923e07a64!8m2!3d51.0873546!4d3.6686913" target="_blank" rel="noopener">
                        Industrieweg 232, 9030 Mariakerke (Gent)
                    </a>
                </span><br>
                <span>
                    Alle rechten voorbehouden © Arteveldehogeschool 2019 - 2020
                </span>
            </div>
        </div> 
    </div>
</footer>