<footer class="mt-8">
    <div class="container-fluid px-0">
        <div class="row box-y">
            <div class="col-auto box-r bg-color-purple py-3 d-flex align-items-center">
                <div class="pl-8 pr-3">
                    {% include logo width:'200' %}
                </div>
            </div>
            <div class="col py-3 d-flex align-items-center">
                <span class="px-2 font-rhode">
                    pgm.gent is een website van de opleiding Programmeren van Arteveldehogeschool
                </span>
            </div>
        </div>
        <div class="row py-3">
            <div class="col text-modern text-center">
                <span class="font-weight-bold">
                    <a class="text-center" href="https://www.google.com/maps/place/Campus+Mariakerke+Arteveldehogeschool/@51.0869464,3.6676795,17.21z/data=!4m5!3m4!1s0x47c370362705fc21:0x47f9e1d923e07a64!8m2!3d51.0873546!4d3.6686913">
                        Industrieweg 232, 9030 Mariakerke (Gent)
                        <i data-feather="chevron-right"></i>
                    </a>
                </span><br>
                <span>
                    Alle rechten voorbehouden © Arteveldehogeschool 2019 - 2020
                </span>
            </div>
        </div>
    </div>
</footer>
