<div class="box-lazy" data-lazy-animation="fadeInDown">
    <header class="header box-b">
        <a href="{{ '/' | url }}" class="container-fluid">
            <div class="header-brand py-5">
                {% include logo width:'300' %}
            </div>
        </a>
    </header>
    <div data-label="marquee" class="marquee">
        <div class="marquee-content"></div>
    </div>  
</div>