---
layout: default
permalink: "/{{ page.filePathStem | remove: '_pages' }}/index.html"
---
<main>
    <section class="d-none">
        <div class="container-fluid py-5 box-b">
            <!-- modal-title is used for tab label -->
            <h1 class="font-rhode modal-title">{{ title }}</h1>
            <p class="mb-0 text-modern">{{ subtitle }}</p>
        </div>
    </section>
    <section id="mainContent">
        {{ content }}
    </section>
    <div id="loader">
    </div>
    <style>
        #loader {
            position: absolute;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            /* width: 100vw;
            height: 100vh; */
            background-color: black;
            z-index: 7;
        }
        
        .modal #loader {
            display: none;
        }
    </style>
</main>
{% include modal-page %}