---
layout: default
---
{% include header %}
<main>
    {{ content }}
</main>
<div data-label="fixedBottom" class="container-fluid">
    <div data-label="tabs" class="tabs"></div>
</div>
{% include footer %}
{% include modal-page %}