---
title: 404
layout: page-galery
permalink: 404/index.html
pageindex: false
---

<section>
    <div class="container-fluid pr-0 box-lazy header-section d-flex align-items-center" data-lazy-animation="fadeInUp">
        <div class="row">
            <div class="col-6 py-6 w-100 d-flex flex-column justify-content-center">
                <h2 class="font-rhode display-4">
                    404
                </h2>
                <h3 class="font-rhode mb-4">dat is een bug :(</h3>
                <h5>Start een opleiding programmeren en misschien los jij dit probleem wel op!</h5>
            </div>
            <div class="col-6 box-l p-0">
                <div class="filter-purple-rain h-100">
                    <img class="fit-to-wrapper h-100" src="https://pgmgent-1920-students.github.io/case1-pgm-website-baas-pgm-lenndery/src/images/andere/groepsfoto_bootcamp_cropped.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>