---
title: page
layout: no-modal
permalink: 404.html
---

<section>
    <div class="container-fluid box-lazy box-y header-section box-offset-y d-flex align-items-center" data-lazy-animation="fadeInUp">
        <div class="row">
            <div class="col-6 py-6 w-100 d-flex flex-column justify-content-center">
                <h2 class="font-rhode display-4">
                    404
                </h2>
                <h3 class="font-rhode mb-4">dat is een bug :(</h3>
                <h5>Start een opleiding programmeren en<br> misschien los jij dit probleem wel op</h5>
            </div>
            <div class="col-6 box-l p-0">
                <div class="filter-purple-rain">
                    <img class="fit-to-wrapper" src="https://pgmgent-1920-students.github.io/case1-pgm-website-baas-pgm-lenndery/src/images/andere/groepsfoto_bootcamp_cropped.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid d-none box-lazy animate-delay-02 box-y box-offset-b header-section" data-lazy-animation="fadeInUp">
        <div class="row">
            <div class="col">
                <h2 class="font-rhode display-4">
                    onze<br>opleiding
                </h2>
            </div>
            <div class="col-3 box-l cta-section-cta">
                <h3 class="text-modern">
                    ontdek onze opleiding
                </h3>
                <i data-feather="arrow-right"></i>
            </div>
        </div>
    </div>
</section>