.box {
    border-width: 0px;
    border-style: solid;
    border-color: white;
    
    &-all {
        @extend .box;
        border-width: 2px;
    }
    
    &-x {
        @extend .box;
        border-left-width: 2px;
        border-right-width: 2px;
    }
    
    &-y {
        @extend .box;
        border-top-width: 2px;
        border-bottom-width: 2px;
    }
    
    &-t {
        @extend .box;
        border-top-width: 2px;
    }
    
    &-b {
        @extend .box;
        border-bottom-width: 2px;
    }
    
    &-l {
        @extend .box;
        border-left-width: 2px;
    }
    
    &-r {
        @extend .box;
        border-right-width: 2px;
    }
    
    &-offset-t {
        margin-top: -2px;
    }
    
    &-offset-y {
        margin-top: -2px;
        margin-bottom: -2px;
    }
}

.container {
    &-fluid {
        padding-left: $spacer * 6;
        padding-right: $spacer * 6;
    }
    
    &-xxl {
        max-width: 1600px;
    }
}

.cta-section {
    .row .col {
        @extend .py-5
    }
    
    &-title {
        margin-bottom: .5rem;
    }
    
    h4 {
        @include text-modern;
    }
    
    h4#{&}-title + p#{&}-subtitle {
        margin-bottom: 0;
        font-size: 1.5rem;
        letter-spacing: 1px;
        @extend .font-weight-light;
    }
    
    &-static {
        padding-left: 0px;
        
        img {
            height: 180px;
        }
    }
    
    &-cta {   
        display: flex;
        align-items: center;
        padding-left: 6rem;
        padding-right: 0;
        @include text-modern;
        
        h3 {
            margin-bottom: 0;
            margin-right: 2.5rem;
            text-align: right;
        }
        
        svg {
            width: 70px;
            height: 70px;
            stroke-width: 1px;
            
            * {
                stroke-width: 1px;
            }
        }
    }
}

.header-section {
    .row .col {
        @extend .py-4
    }
}

.filter-section {
    display: grid;
    grid-template-columns: min-content auto;
    
    &-title {
        grid-column-start: 1;
        grid-column-end: 2;
        white-space: nowrap;
    }
    
    &-options {
        display: flex;
        align-content: center;
        
        .options-el {
            input {
                display: none;
            }
            
            label {
                @include font-rhode;
                margin-bottom: 0px;
                padding-left: 17px;
                padding-right: 17px;
                text-transform: lowercase;
                @extend .box-y;
                @extend .py-3;
                transition: all .3s ease;
            }
            
            input:checked + label {
                border-color: $purple500;
                color: $purple500;
            }
            
            .word-joint {
                margin: 0px 8px;
            }
        }
    }
}

.collection {
    &-item {
        display: flex;
        align-items: center;
        
        &:first-child {
            // extra margin inside collection before first card
            // .card {margin-left: 3rem;} 
            .card-joint:first-child {visibility: hidden;}
        }
        &:last-child {
            // extra margin inside collection after last card
            // .card {margin-right: 3rem;}
            .card-joint {visibility: hidden;}
        }
        
    }
    &-horizontal {
        display: flex;
        align-items: center;
        overflow-x: scroll;
        
        .card {
            position: relative;
            width: 250px;
            height: 300px;
            
            &-header {
                position: absolute;
                @include position-spread;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                z-index: 4;
                
                p:nth-child(2) {
                    letter-spacing: 2px;
                }
            }
            
            &-img {
                height: 100%;
            }
            
            &-img img {
                @include object-fit;
                width: 100%;
                height: 100%;
            }
        }
        
        .card-joint {
            height: 224px;
            width: 2px;
            background: white;
            margin: 0px 25px;
        }
    }
}

// .marquee {
//     // position: fixed;
//     // top: 0;
//     // left: 0;
//     // width: 100%;
//     // height: fit-content;
    
//     .inner {
//         position: relative;
//         display: flex;
        
//         > * {
//             white-space: nowrap;
//         }
//     }
// }


