.box {
    border-width: 0px;
    border-style: solid;
    border-color: white;
    
    &-all {
        @extend .box;
        border-width: 2px;
    }
    
    &-x {
        @extend .box;
        border-left-width: 2px;
        border-right-width: 2px;
    }
    
    &-y {
        @extend .box;
        border-top-width: 2px;
        border-bottom-width: 2px;
    }
    
    &-t {
        @extend .box;
        border-top-width: 2px;
    }
    
    &-b {
        @extend .box;
        border-bottom-width: 2px;
    }
    
    &-l {
        @extend .box;
        border-left-width: 2px;
    }
    
    &-r {
        @extend .box;
        border-right-width: 2px;
    }
    
    &-offset-t {margin-top: -2px;}
    &-offset-b {margin-bottom: -2px;}
    
    &-offset-y {
        margin-top: -2px;
        margin-bottom: -2px;
    }
}

.container {
    &-fluid {
        padding-left: $spacer * 6;
        padding-right: $spacer * 6;
    }
    
    &-xxl {
        max-width: 1600px;
    }
}

.cta-section {
    .row .col {
        @extend .py-5
    }
    
    &-title {
        margin-bottom: .5rem;
    }
    
    h4 {
        @include text-modern;
    }
    
    h4#{&}-title + p#{&}-subtitle {
        margin-bottom: 0;
        font-size: 1.5rem;
        letter-spacing: 1px;
        @extend .font-weight-light;
    }
    
    &-static {
        padding-left: 0px;
        
        img {
            height: 180px;
        }
    }
    
    &-cta {   
        display: flex;
        align-items: center;
        padding-left: 6rem;
        padding-right: 0;
        @include text-modern;
        
        h3 {
            margin-bottom: 0;
            margin-right: 2.5rem;
            text-align: right;
        }
        
        svg {
            width: 70px;
            height: 70px;
            stroke-width: 1px;
            
            * {
                stroke-width: 1px;
            }
        }
    }
}

.header-section {
    .row .col {
        @extend .py-4
    }
}

.filter-section {
    display: grid;
    grid-template-columns: min-content auto;
    
    &-title {
        grid-column-start: 1;
        grid-column-end: 2;
        white-space: nowrap;
    }
    
    &-options {
        display: flex;
        align-content: center;
        
        .options-el {
            input {
                display: none;
            }
            
            label {
                @include font-rhode;
                margin-bottom: 0px;
                padding-left: 17px;
                padding-right: 17px;
                text-transform: lowercase;
                @extend .box-y;
                @extend .py-3;
                transition: all .3s ease;
            }
            
            input:checked + label {
                border-color: $purple500;
                color: $purple500;
            }
            
            .word-joint {
                margin: 0px 8px;
            }
        }
    }
}

.collection {
    &-item {
        display: flex;
        align-items: center;
        
        &:first-child {
            // extra margin inside collection before first card
            // .card {margin-left: 3rem;} 
            .card-joint:first-child {visibility: hidden;}
        }
        
        &:last-child {
            // extra margin inside collection after last card
            // .card {margin-right: 3rem;}
            .card-joint {visibility: hidden;}
        }
        
    }
    
    &-horizontal {
        display: flex;
        align-items: center;
        overflow-x: scroll;
        
        .card {
            position: relative;
            width: 250px;
            height: 300px;
            
            &-header {
                position: absolute;
                @include position-spread;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                z-index: 4;
                
                p:nth-child(2) {
                    letter-spacing: 2px;
                }
            }
            
            &-img {
                height: 100%;
            }
            
            &-img img {
                @include object-fit;
                width: 100%;
                height: 100%;
            }
        }
        
        .card-joint {
            height: 224px;
            width: 2px;
            background: white;
            margin: 0px 25px;
        }
    }
}

.marquee {
    --marquee-speed: 7;
    padding: 0.5rem;
    background-color: white;
    color: black;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-transform: lowercase;
    
    &:hover &-content {
        animation-play-state: paused;
    }
    
    &:before,
    &:after {
        position: absolute;
        top: 0;
        width: 50px;
        height: 30px;
        content: "";
        z-index: 1;
    }
    
    &-content {
        width: 300%;
        display: flex;
        line-height: 30px;
        animation: marquee 10s linear infinite forwards;
        animation-duration: calc(var(--marquee-speed)*10s);
        
        * {@include font-rhode;}
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-66.6%);
    }
}

.modal {
    --box-modal-offset: 2.3rem;
    position: fixed;
    @include position-spread;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 10;
    
    &.sesam-show {
        display: flex;
    }
    
    &-wrapper &-content {
        background-color: black;
        display: block;
        height: 84vh;
        
        &::after {
            @extend .box-all; 
            content: ' ';
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background-color: black;;
            z-index: -1;
            transform: translate(calc(var(--box-modal-offset)*-1), var(--box-modal-offset));
        }
        
        .modal-content-header {
            height: 2.3rem;
        }
        
        &-wrapper {
            height: 100%;
            overflow-y: scroll;
        }
    }
    
    &.box-modal {
        .modal-content {
            position: relative;
        }
        
        .modal-wrapper {
            transform: translateY(calc((var(--box-modal-offset)*-1)/2));
        }
        
        .modal-controls {
            position: absolute;
            top: calc(var(--box-modal-offset));
            left: calc(var(--box-modal-offset)*-1);
            background-color: black;
            
            > div {
                @extend .box-all;
                display: flex;
                align-items: center;
                justify-content: center;
                width: var(--box-modal-offset);
                height: var(--box-modal-offset);
                
                &:first-child {
                    @extend .box-offset-b
                }
            }
        }
        
        .modal-title {
            max-width: 480px;
        }
    }
}

.sesam-backdrop {
    position: fixed;
    @include position-spread;
    @extend .level-9;
    background-color: rgba(0, 0, 0, 0.884);
    
    &.sesam-hidden {
        display: none;
    }
}

[data-label="tabs"] {
    position: fixed;
    bottom: 0px;
    display: flex;
    z-index: 8;
    @extend .ml-8;
    @extend .box-offset-b;
    
    .tab {
        margin-right: 1.3rem;
        padding: 10px;
        display: flex;
        background-color: $purple500;
        cursor: pointer;
        transition: all .2s ease;
        border: 0px solid white;
        border-width: 2px 2px 0px 2px;
        
        &:hover {
            transform: scale(1.05);
        }
        
        svg {
            margin-right: 5px;
        }
        
        &-title {
            display: block;
            max-width: 240px;
            @include font-rhode;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

