:root {
    --transition-prop: all;
    --transition-time: .3s;
    --transition-bezier: ease;
    --letter-spacing: 7px;
    --object-position: center;
}

@mixin font-poppins {
    font-family: 'Poppins', sans-serif;
}

@mixin font-rhode {
    font-family: rhode-wide,sans-serif;
    // 500, 600, 700, 800
}

@mixin transition {
    transition: var(--transition-prop) var(--transition-time) var(--transition-bezier);
}

@mixin text-modern {
    @include font-poppins;
    letter-spacing: var(--letter-spacing);
    text-transform: uppercase;
}

@mixin object-fit {
    object-fit: cover;
    object-position: var(--object-position);
}

@mixin position-spread {
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

