* {
    @include font-poppins;
}

h3, h4 {
    line-height: 2.5rem;
}

p.text-modern {
    font-weight: 600;
}

.medium {
    font-size: 90% !important;
}

small, .small {
    font-size: 80% !important;
    
    &.text-modern {
        --letter-spacing: 3px;
    }
}

#mainContent {
    h5, h6 {
        margin-top: 40px;
    }
    
    a {
        color: #7f47dd;
        
        svg.feather {stroke-width: 2px;}
        
        &.btn-arrow-link {
            font-weight: 500;
            color: white;
        }
    }
    
    @for $i from 1 through 4 {
        h#{$i} {
            @include font-rhode;
            margin-bottom: 1.5rem;
        }
    }
    @for $i from 5 through 6 {
        h#{$i} {
            // @include text-modern;
            font-weight: 400;
            letter-spacing: 2px;
            margin-bottom: 1.5rem;
        }
    }
    
    h3 + h5, h4 + h6 {
        margin-top: -17px;
    }
    
    p ~ h3, p ~ h4, p ~ h5 {
        margin-top: 2.5rem;
    }
}